__pycache__
*.txt
*.xlsx
*.xls
*.log
*.out
*.csv
!*simtype*.csv
results/*
!results/.gitkeep
!results/*-n-500.csv
!results/*-n-1000.csv
data/*
!data/.gitkeep
*.rda
.RData
.Rhistory
.DS_Store
IPC/
real_data_wine/*
!real_data_wine/.gitkeep
.Rproj.user
*.Rproj
DDR/
results_ddr/*